@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: hsl(0, 0%, 100%); /* Beyaz arka plan */
  --foreground: hsl(0, 0%, 3.9%); /* Siyah metin */
  --primary: hsl(47, 100%, 50%);
  --primary-foreground: hsl(0, 0%, 98%);
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}